

## GPIO bus - These pins are N/C on the LX75
#NET "fp_gpio<0>" LOC = "F8" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "fp_gpio<1>" LOC = "E8" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "fp_gpio<2>" LOC = "F9" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "fp_gpio<3>" LOC = "G8" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "fp_gpio<4>" LOC = "H10" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "fp_gpio<5>" LOC = "G9" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "fp_gpio<6>" LOC = "F10" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "fp_gpio<7>" LOC = "E10" | IOSTANDARD = LVCMOS33 | PULLUP ;

NET "fp_gpio<0>" LOC = "H11" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "fp_gpio<1>" LOC = "E6" | IOSTANDARD = LVCMOS18 | PULLUP ;
NET "fp_gpio<2>" LOC = "G11" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "fp_gpio<3>" LOC = "E5" | IOSTANDARD = LVCMOS18 | PULLUP ;
NET "fp_gpio<4>" LOC = "F12" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "fp_gpio<5>" LOC = "B3" | IOSTANDARD = LVCMOS18 | PULLUP ;
NET "fp_gpio<6>" LOC = "H12" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "fp_gpio<7>" LOC = "A2" | IOSTANDARD = LVCMOS18 | PULLUP ;

NET "LED_TXRX1_RX_OUT" LOC = "F8" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "LED_TXRX1_TX_OUT" LOC = "E8" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "LED_RX1_OUT" LOC = "F9" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "LED_TXRX2_RX_OUT" LOC = "G8" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "LED_TXRX2_TX_OUT" LOC = "H10" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "LED_RX2_OUT" LOC = "G9" | IOSTANDARD = LVCMOS33 | PULLUP ;


